.board {
  width: 100vw;
}

.table-board {
  width: 80vh;
  margin: auto;
  aspect-ratio: 1 / 1;
}

.table-board, .table-board td, .table-board tr {
  border: black solid 1px;
}

.alive {
  background-color: green;
}